radox.net {
	handle /.well-known/* {
		reverse_proxy backend:3000
	}
	handle {
		root * /srv/landing
		file_server
		try_files {path} /index.html
	}
}

dev.radox.net {
	handle /.well-known/* {
		reverse_proxy backend:3000
	}
	handle {
		redir https://radox.net{uri} permanent
	}
}

app.radox.net {
	reverse_proxy frontend:80
}

api.radox.net {
	reverse_proxy backend:3000
}

www.radox.net {
	redir https://radox.net{uri} permanent
}
